src/*.o
src/*.a
src/.deps
src/.dirstamp
src/st*
src/.dirstamp
autom4te.cache
*.swp
src/*.swp
include/epc/*.swp
config.*
Makefile
src/Makefile
include/Makefile
.DS_Store
modules/.DS_Store
exampleProgram/*.o
exampleProgram/epctest
exampleProgram/.deps
exampleProgram/myfile
exampleProgram/mylog
exampleProgram/logs
exampleProgram/test2*
exampleProgram/test3*
exampleProgram/pfcp/bin/*
exampleProgram/pfcp/logs/*
exampleProgram/pfcp/Makefile
exampleProgram/pfcp/.deps
exampleProgram/pfcp/src/.deps
exampleProgram/pfcp/src/.dirstamp
exampleProgram/pfcp/src/*.o
exampleProgram/libpfcp
pfcp/pfcpr15/*.a
pfcp/src/.deps
pfcp/pfcptest/.deps
pfcp/pfcptest/pcaps/.deps
pfcp/pfcptest/pcaps/.dirstamp
pfcp/pfcptest/pfcptest
docDoxyfile.bak
epctools.code-workspace
