src/*.o
src/*.a
src/.deps
src/st*
autom4te.cache
*.swp
src/*.swp
include/epc/*.swp
config.*
.vscode
Makefile
src/Makefile
include/Makefile
.DS_Store
modules/.DS_Store
exampleProgram/*.o
exampleProgram/epctest
exampleProgram/.deps
exampleProgram/myfile
exampleProgram/mylog
exampleProgram/logs
exampleProgram/test2*
exampleProgram/test3*
exampleProgram/pfcp/bin/*
exampleProgram/pfcp/logs/*
exampleProgram/pfcp/Makefile
exampleProgram/pfcp/.deps
exampleProgram/pfcp/src/.deps
exampleProgram/pfcp/src/.dirstamp
exampleProgram/pfcp/src/*.o
exampleProgram/libpfcp
docDoxyfile.bak
epctools.code-workspace
