[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/c-ares"]
	path = modules/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "modules/pistache"]
	path = modules/pistache
	url = https://github.com/oktal/pistache.git
[submodule "modules/bzip2"]
	path = modules/bzip2
	url = https://sourceware.org/git/bzip2.git
[submodule "modules/freeDiameter"]
	path = modules/freeDiameter
	url = https://github.com/omec-project/freediameter.git
	branch = master
[submodule "modules/PcapPlusPlus"]
	path = modules/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
[submodule "modules/libpfcp"]
	path = modules/libpfcp
	url = https://github.com/omec-project/libpfcp.git
